/*CORES DE TEXTO*/
.titulo1 {
    color: #ff4f84;
}
.titulo2 {
    color: #000066;
}
.texto1 {
    color: #000000;
}
/*Tipos de Texto*/
.linklimpo {text-decoration: none;}
.px20 {font-size: 20px;}
.px40 {font-size: 40px;}
.px60 {font-size: 60px;}
.px80 {font-size: 80px;}
.px100 {font-size: 100px;}
.px120 {font-size: 120px;}
.w700 {font-weight: 700;}
/*FUNDOS*/
.bgmain {
    background-color: #FFFFFF;
}
/*FONTES*/
@font-face {
    font-family: 'recoleta';
    src: local('Recoleta Bold'), local('fontes/recoletabold/Recoleta-Bold'),
        url('fontes/recoletabold/Recoleta-Bold.woff2') format('woff2'),
        url('fontes/recoletabold/Recoleta-Bold.woff') format('woff'),
        url('fontes/recoletabold/Recoleta-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

.recoleta {
    font-family: 'recoleta';
}

@font-face {
    font-family: 'recoletaalt';
    src: local('Recoleta Alt Bold'), local('fontes/Recoleta-Alt-Bold'),
        url('fontes/recoletaboldalt/RecoletaAlt-Bold.woff2') format('woff2'),
        url('fontes/recoletaboldalt/RecoletaAlt-Bold.woff') format('woff'),
        url('fontes/recoletaboldalt/RecoletaAlt-Bold.ttf') format('truetype');
    font-style: normal;
  }

.recoletaalt {
    font-family: 'recoletaalt';
}